body {
    /*
     * set default font to arial with sans-serif fallback
     * remove default margin and padding
     */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#content-wrapper {
    /* Makes the content wrapper a flex container */
    display: flex;
    /* Arranges flex items vertically within the content wrapper. */
    flex-direction: column;
    /*Centers flex items horizontally within the content wrapper. */
    align-items: center;
    /* Centers flex items vertically within the content wrapper. */
    justify-content: center;
    /* Sets the height of the content wrapper to 100% of the viewport height. */
    height: 100vh;
}

canvas {
    border: 1px solid #333;
}

.start-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074D9;
    color: #ffffff;
    border: 2px solid #0f3251;
    border-radius: 5px;
    cursor: pointer;
}
.start {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0f3251;
    color: #ffffff;
    border-radius: 5px;
}
.start-button:hover {
    background-color: #0f3251;
    border: 2px solid #0074D9;

}